.rssub-host {
	padding: 15px;
}

.rssub-actionbox {
	border: 1px solid rgb(220,220,220);
	border-radius: 3px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	background-color: rgb(255,255,255);
	padding: 6px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.rssub-clearfix {
	content: ' ';
	clear: both;
}

.rssub-left {
	width: 60%;
	float: left;
	margin: 0 -10px 10px -10px;
}

.rssub-right {
	width: 40%;
	float: right;
	margin: 0 -10px;
}

.rssub-actionbox h1 {
	margin: -6px 6px 6px -6px;
	padding: 12px 6px;
	width: 100%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0px -1px 1px rgba(0,0,0,0.1) inset;
	font-size: 15px;
}

.rssub-actionbox .header { 
	font-size: 25px;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}

.rssub-actionbox label {
	font-weight: 600;
	margin-right: 10px;
}

.rssub-actionbox input {
	border: 1px solid rgb(220,220,220);
	border-radius: 3px;
	background-color: rgb(245,245,245);
	padding: 4px;
	outline: none;
	display: inline-block;
	-moz-box-sizing: content-box;
	-webkit-box-sizing:content-box;
	box-sizing: border-box;
	background-color: rgb(255,255,255);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1) inset;
	margin-top: -1px;
}

.rssub-actionbox .console {
	font-family: monospace;
	margin: 6px -6px -6px -6px;
	background-color: rgba(0,0,0,0.08);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1) inset;
	padding: 8px;
	max-height: 120px;
	overflow-y: scroll;
}

.rssub-actionbox .table {
	-webkit-column-width: 120px;
}

.hidden {
	display: none;
}

api-graph {
	display: none;
}

.subtable {
	max-height: 500px;
	overflow-y: scroll;
}
.subtable .row .col {
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: 15%;
}
.subtable .row .col:first-child {
	width: 70%;
}